<div id="filter-bar">
	
	<section id="trader-search-options">
		<div class="section-header">Your Recommended Position</div>
		<div class="section-body">
			<div class="filter-row trade-sizing">
				<div class="filter-label">Your Max Trade Size</div>
				<input class="filter-field" id="max-trade" value="<%= @user.max_trade_size %>">
			</div>



			<div class="filter-row trade-sizing">
				<div class="filter-label">BTC</div>
				<div class="pos-field" id="btc-pos"><%= @recced_position["btc"] %></div>
			</div>

			<div class="filter-row trade-sizing">
				<div class="filter-label">ETH</div>
				<div class="pos-field" id="eth-pos"><%= @recced_position["eth"] %></div>
			</div>	

			<div id="update-sizing">
				Update
			</div>
		</div>
	</section>
</div>

<div id="content">

	<section id="trader-results">
		<div class="section-header">Copy List</div>
		<div class="section-body">

			<div id="table-input">
				<input id="trader-add" placeholder="Address 0x...">
				<div id="add-trader-btn">Add</div>
			</div>
			
			<div id="trader-table">

				<div class="trader-table-header">
					<div class="adr">Address</div>
					<div class="asset">Asset</div>
					<div class="direction">Dir</div>
					<div class="collat">Margin</div>
					<div class="size">Size</div>
					<div class="pnl">PnL</div>
					<div class="allocation">% Alloc</div>
				</div>

				<div id="trader-table-body">

					<% @positions.each_with_index do |pos, i| %>
						<div class="trader-table-row table-sub-header">
							<div class="adr">
								<%= pos["adr"] %>
								<span class="del-trader" data-pos-id="<%= i %>">Delete</span>
								<span class="update-allo" data-pos-id="<%= i %>">Update Allocation</span>
							</div>
							
							<input class="allocation" value="<%= @user.allocations[i] %>">
						</div>

						<% ["btc", "eth"].each do |asset| %>
							<% ["Long", "Short"].each do |direction| %>
								<% next if pos["#{asset}#{direction}"] == {}  %>
								<% pos_data = pos["#{asset}#{direction}"] %>

								<div class="trader-table-row">
									<div class="adr"></div>
									<div class="asset"><%= asset %></div>
									<div class="direction <%= direction %>"><%= direction %></div>
									<div class="collat"><%= pos_data["collateral"] %></div>
									<div class="size"><%= pos_data["size"] %></div>
									<div class="pnl <%= 'green' if pos_data["delta"] > 0  %>"><%= pos_data["delta"] %></div>
									<div class="allocation"></div>
									
								</div>
							<% end %>
						<% end %>

						

					<% end%>
					



				</div>
				

			




			</div>



		</div>
	</section>
	


</div>